@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap') ;

header {
  background-color: #91091e;
  color: white;
}

header h1 {
  font-family: Proza Libre , sans-serif;
  font-weight: 700;
  margin-top: 3%;
}

header img {
  filter: invert();
}

.main-header button {
  background-color: #91091e;
  border: none;
}

.main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2% 4%;
}
