.ingredients-cards {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin: 50px 0;
}

.ingredients-card {
  align-items: center;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 30px;
  width: 45vw;
}

@media screen and ( min-width : 768px ) {

  .ingredients-cards {
    grid-template-columns: auto auto auto;
  }

  .ingredients-card {
    width: 30vw;
  }
}

@media screen and ( min-width : 1280px ) {

  .ingredients-cards {
    grid-template-columns: auto auto auto auto;
  }

  .ingredients-card {
    width: 22vw;
  }

}
