.login-input {
  align-items: center;
  background-color: #fdf1d6;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
  display: flex;
  flex-flow: column;
  margin: 20px 10px;
  padding: 7% 0;
  width: 90vw;
}

.login-input label {
  display: grid;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8%;
}

.login-input input {
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-left: -2.5px;
  margin-top: 2.5%;
  padding: 6px 12px;
}

.login-input button {
  background-color: #91091e;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 7.5px 80px;
}

.login-input button:disabled {
  background-color: #ccc;
  border: 1px solid #999;
  color: #666;
}

.login-div {
  align-items: center;
  background-color: #91091e;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@media ( min-width : 640px ) {

  .login-input {
    width: 75vw;
  }

}

@media screen and ( min-width : 768px ) {

  .login-input {
    width: 70vw;
  }

}

@media screen and ( min-width : 1024px ) {

  .login-input {
    width: 60vw;
  }

  .login-input label {
    font-size: 1.4rem;
    width: 80%;
  }

}

@media screen and ( min-width : 1280px ) {

  .login-input {
    padding: 5% 0;
    width: 50vw;
  }

  .login-input label {
    margin-bottom: 5%;
  }

}

@media screen and ( min-width : 1536px ) {

  .login-input {
    margin: 3% 0;
    width: 45vw;
  }

}
