.recipe-details {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.initial-recipe {
  display: flex;
  flex-direction: column;
}

.img-recipe {
  height: auto;
  width: 100%;
}

.title-recipe {
  text-align: center;
}

.favorite-btn, .share-btn {
  background-color: transparent;
  border: 0;
}

.fav_share-btn {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
  width: 100%;
}

.yt-video {
  aspect-ratio: 16 / 9;
  margin-bottom: 30px;
  width: 100%;
}

/* .btn__start-recipe {
  bottom: 0;
  display: grid;
} */

.btn__start-recipe {
  background-color: #91091e;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 7.5px 0;
  width: 100%;
}

@media ( min-width : 640px ) {

  .yt-video {
    width: 90%;
  }

}

@media screen and ( min-width : 768px ) {

  .yt-video {
    width: 80%;
  }

}

@media screen and ( min-width : 1024px ) {

  .yt-video {
    width: 70%;
  }

}

@media screen and ( min-width : 1280px ) {

  .recipe-details {
    padding: 40px 80px;

  }

  .initial-recipe {
    flex-direction: row;
    justify-content: space-between;
  }

  .initial-content {
    width: 55%;
  }

  .img-recipe {
    width: 40%;
  }

  .yt-video {
    width: 60%;
  }

}

@media screen and ( min-width : 1536px ) {

  .initial-content {
    width: 55%;
  }

  .img-recipe {
    height: auto;
    width: 40%;
  }

}
